version: "3.9"

services:

  db:
    image: postgres:15
    container_name: app-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d appdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: nuxt-app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/appdb
      BETTER_AUTH_SECRET: supersecret
      BETTER_AUTH_URL: http://localhost:3000
    command: >
      sh -c "
      npx prisma migrate deploy &&
      npx prisma db seed &&
      node .output/server/index.mjs
      "

volumes:
  db_data:
