version: "3.9"

services:

  db:
    image: postgres:15
    container_name: app-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - docker-network
    logging: *default-logging
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRESQL_USERNAME}", "-d", "${POSTGRESQL_DATABASE}"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s

  app:
    build: .
    container_name: nuxt-app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/appdb
      BETTER_AUTH_SECRET: supersecret
      BETTER_AUTH_URL: http://localhost:3000
    entrypoint: ["sh", "-c", "until pg_isready -h ${DB_HOST} -U ${DB_USER} -d ${DB_NAME}; do echo waiting for postgres_db; sleep 5; done; exec npm run start:migrate-prod"]
    networks:
        - docker-network
    logging: *default-logging    
    command: >
      sh -c "
      npx prisma migrate deploy &&
      npx prisma db seed &&
      node .output/server/index.mjs
      "

volumes:
  db_data:
